extends layout

block content
  h1= title
  p Checking file: #{file}
  h2 Relation: #{dataset.name}
  
  table.table
    caption Attributes
    thead
      tr
        th Attribute
        th Type
        th Values  
    tbody
      each attribute in dataset.attributes
        tr
          td= attribute
          td= dataset.types[attribute].type
          case dataset.types[attribute].type
            when 'nominal'
              td= dataset.types[attribute].oneof.join(', ')
            when 'date'
              td= dataset.types[attribute].format
            default
              td= ''
  
  table.table
    caption Dataset
    thead
      tr
        each attribute in dataset.attributes
          th= attribute
    tbody
      each row in dataset.data
        tr
        each attribute in dataset.attributes
          td= row[attribute]
          
