extends layout

block content
  h1= title
  p Checking file: #{file}
  h2 Relation: #{dataset.name}
  h3 Attributes
  ul
    each attribute in dataset.attributes
     li #{attribute}: #{JSON.stringify(dataset.types[attribute])}
  
  table.table
    caption= dataset.name
    thead
      tr
        each attribute in dataset.attributes
          th= attribute
    tbody
      each row in dataset.data
        tr
        each attribute in dataset.attributes
          td= row[attribute]
          
